.portfolio-imgs {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  height: 26rem;
  overflow: scroll;
}

.blink {
  animation: blink 1s infinite;
}

#resume:target {
  display: block !important;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

#portfolio li {
  margin-bottom: 1rem;
}

.logo-container {
  text-decoration: none;
  color: white !important;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: block;
}

.logo-sm {
  display: none;
}

.logo-xsm {
  display: none;
}

.container {
  background-color: rgba(63, 0, 0, 0.562);
  color: white;
  max-width: 43rem;
  overflow: scroll;
  margin: auto !important;
  padding: 1rem;
}

.bg {
  --width: 550px;
  --height: 550px;
  position: fixed;
  top: 50dvh;
  left: calc(100dvw - var(--width));
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  opacity: 90%;
  background: url(../img/netsurfing.png) no-repeat;
  transform: scale(0.5);
  padding: 0 1rem;
}

.avatar {
  position: absolute; 
  top: 6.3rem; 
  left: .55rem; 
  width: 6rem; 
  height: 6rem; 
  -webkit-mask-image:radial-gradient(black,white); 
  mask-image:radial-gradient(black,white)
}
